 <head>
  <title>ePrescription</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/scripts/javascripts/html5-qrcode/lib/jsqrcode-combined.min.js"></script>
  <script type="text/javascript" src="/scripts/javascripts/html5-qrcode/lib/html5-qrcode.min.js"></script>
  <script type="text/javascript" src="/scripts/javascripts/qrcodejs/qrcode.min.js"></script>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/stylesheet.css">
  <script src="/scripts/app.js"></script>
</head>
