<nav>
  <div>
    <div>
      <% if user.isDoctor === true { %>
        <a href="/">ePrescription</a>
        <p> Doctor is true! This is a doctor </p>
      <% } else { %>
        <a href="/">ePrescription</a>
        <p> Doctor is false! This is a regular user</p>
      <% } %>
    </div>
  </div>
</nav>
