<nav id="nav" class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a id="nav-brand" class="navbar-brand" href="/">ePrescription</a>
    </div>
    <div id="navbar-div" class="navbar">
      <ul id="navbar-pills" class="nav nav-pills">
      <% if (user) { %>
        <% if (user.isDoctor === true) { %>
          <li><a href="/prescriptions/new">New Prescription</a></li>
          <li><a href="/users">Patients</a></li>
          <li><a href="/prescriptions">Prescriptions</a></li>
        <% } else { %>
          <li><a href="/prescriptions/mostrecent">Most Recent</a></li>
          <li><a href="/users">Doctors</a></li>
          <li><a href="/prescriptions">Prescriptions</a></li>
        <% } %>
        <ul class="nav nav-pills navbar-right">
          <li><p class="nav navbar-text"><%= user.username %></p></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      <% } %>
      </ul>
    </div>
  </div>
</nav>
