<nav>
  <div>
    <div>
      <a href="/">ePrescription</a>
      <a href="/doctors/login">Doctors</a>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
    </div>
  </div>
</nav>
