<nav>
  <div>
    <div>
      <a href="/"> ePrescription </a>
      <% if (user) { %>
        <% if (user.isDoctor === true) { %>
          <p> Doctor is true! </p>
          <a href="/prescriptions/new"> New Prescription </a>
          <a href="/users"> Patients </a>
          <a href="/prescriptions"> Prescriptions </a>
          <p> ^ This is a doctor </p>
        <% } else { %>
          <p> Doctor is false! </p>
          <a href="/prescriptions/mostrecent"> Most Recent </a>
          <a href="/users"> Doctors </a>
          <a href="/prescriptions"> Prescriptions </a>
          <p> ^ This is a regular user </p>
        <% } %>
        <%= user.username %> | <a href="/logout"> Logout </a>
      <% } %>
    </div>
  </div>
</nav>
