<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

    <script type="text/javascript" src="/scripts/qr-reader.js"></script>
      <div class="modal-body">
        <section id="main_content" class="inner center">


<h3 class="center">QR code Reader Demo</h3>

<div  class="center" id="reader" style="width:300px;height:250px;"></div>

<h6 class="center">Result</h6>
<span id="read" class="center"></span>
 <div id="reader" style="width:300px;height:250px">
 </div>
<br>

<h6 class="center">Read Error (Debug only)</h6>
<span class="center">Will constantly show a message, can be ignored</span>
<span id="read_error" class="center"></span>

<br>
<h6 class="center">Video Error</h6>
<span id="vid_error" class="center"></span>

<br>
<br>
<br>

</div>
</section>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>