<!DOCTYPE html>
<html lang="en" id="index">
  <% include ./partials/_header %>
  <body class="index">
    <div class="form col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
      <h4 class="form-title"> Oops ! It seems there was a problem </h4>
      <p class="error-msg"><%- err %></p>
      <div class="bottom-link">
        <a href="javascript:history.back()"> Click here to go Back</a>
      </div>
    </div>
  </body>
</html>
