<!DOCTYPE html>
<html lang="en" id="index">
  <head>
    <title>ePrescription</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="index">
    <% include ./partials/_nav %>
    <div class="container">
      <h3> Login </h3>
      <a href="/register"> New patient ? Click here to create an account ! </a>
    </div>
  </body>
</html>
