<!DOCTYPE html>
<html lang="en" id="index">
  <% include ./partials/_header %>
  <body class="index">
    <% include ./partials/_nav %>
    <div class="container">
      <%= JSON.stringify(rxHeaders) %>
      <% if (rxHeaders.length != 0) { %>
        <ul>
        <% for (let i = 0; i < rxHeaders.length; i++) { %>
          <li><%=`
          Prescription: ${rxHeaders[i].prescription_id}
          Doctor: ${rxHeaders[i].doctorName}
          Patient: ${rxHeaders[i].patientName}
          Status: ${rxHeaders[i].status}
          Created: ${rxHeaders[i].createdAt}
          `%></li>
        <% } %>
        </ul>
      <% } else { %>
        <p> You currently have no prescriptions </p>
      <% } %>
      <div>
      <% if (user.isDoctor === true) { %>
        <a href="/prescriptions/new"> Create a new prescription </a>
      <% } %>
      </div>
    </div>
  </body>
</html>
