<!DOCTYPE html>
<html lang="en" id="index">
  <% include ./partials/_header %>
  <body class="index">
    <% include ./partials/_nav %>
    <div class="container">
    <% if (rxHeaders) { %>
        <ul>
        <% rxHeaders.forEach(function(rx){%>
        <li>
        <%= JSON.stringify(rx) %>
        <a href="/prescriptions/${rxHeaders}"> Go to it </a>

        </li>
        <%});%>
        </ul>
        <%}%>
      <div>
        <%= JSON.stringify(rxHeaders) %>
        <% if(rxHeaders.length > 0) { %>
          <ul>
          <% for (let i = 0; i < rxHeaders.length; i++) { %>
            <li><%= JSON.stringify(rxHeaders[i]) %></li>
          <% } %>
          </ul>
        <% } else { %>
          <p> You currently have no prescriptions </p>
        <% } %>
        <% if (user.isDoctor === true) { %>
          <a href="/prescriptions/new"> Create a new prescription </a>
        <% } %>
      </div>
    </div>
  </body>
</html>
