<!DOCTYPE html>
<html lang="en" id="index">
  <% include ./partials/_header %>
  <body class="index">
    <% include ./partials/_nav %>
    <div class="container">
    <% if (rxHeaders) { %>
        <ul>
        <% rxHeaders.forEach(function(rx){%>
        <li>
        <%= JSON.stringify(rx) %>
        <a href="/prescriptions/${rxHeaders."> Create a new prescription </a>

        </li>
        <%});%>
        </ul>
        <%}%>
      <div>
        <% if (user.isDoctor === true) { %>
          <a href="/prescriptions/new"> Create a new prescription </a>
        <% } %>
      </div>
    </div>
  </body>
</html>
