<!DOCTYPE html>
<html lang="en" id="index">
  <head>
    <title>ePrescription</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="index">
    <% include ./partials/_nav %>
    <div class="container">
      <h3> Create an account </h3>
      <form action="/prescriptions/new" method="POST">
        Drug Name:
        <input type="text" name="drugName" placeholder="Drug Name" value = "Nexium">
        <br>
        <br>
        Quantity:
        <input type="number" name="quantity" placeholder="Quantity" value="1">
        <br>
        <br>
        Please choose a measurement:
        <select name="measurement" id="measurementSelect">
          <option value="mg">mg</option>
          <option value="g">g</option>
          <option value="kg">kg</option>
          <option value="ml">ml</option>
          <option value="l">l</option>
          <option value="tsp">tsp</option>
          <option value="tbp">tbp</option>
          <option value="pill">pill</option>
          <option value="tablet">tablet</option>
        </select>
        <br>
        <br>
        Frequency:
        <input type="text" name="frequency" placeholder="Frequency">
        <br>
        <br>
        Further Details:
        <input type="textarea" name="note" placeholder="Further Details">
        <br>
        <br>
        Patient's Address:
        <input type="text" name="patientPublicKey" placeholder="Patient's Address" value = "0x6f46cf5569aefa1acc1009290c8e043747172d89">
        Enter you professional Password:
        <input type="password" name="password" placeholder="Password">
        <input type="submit">
      </form>
    </div>


      <!-- THIS IS WHERE THE DOCTOR WILL NEED TO SCAN THE PATIENT's ADDRESS AS A QR CODE -->
  </body>
</html>
