<!DOCTYPE html>
<html lang="en" id="index">
  <head>
    <title>ePrescription</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="index">
    <% include ./partials/_nav %>
    <div class="container">
      <div>
        Prescription details
        <%= JSON.stringify(rxObject) %>
        <!-- This is where the QR code generator will be. It will be both for the SECRET and the CONTRACT ADDRESS. think about caching the address of the contract, not the secret-->
      </div>
    </div>
  </body>
</html>
