<!DOCTYPE html>
<% var prescription = rxObject%>
<html lang="en" id="index">
  <% include ./partials/_header %>
  <body class="index">
    <% include ./partials/_nav %>
    <div class="container">
      <div>
        Prescription details
        <%= JSON.stringify(rxObject) %>
        <!-- This is where the QR code generator will be. It will be both for the SECRET and the CONTRACT ADDRESS. think about caching the address of the contract, not the secret-->
      </div>
    </div>

<div id="rx_address"><%= rxObject.rxDetails[0].rx_address%></div>
<section id="create_qr_code2">
  <div id="qrcode" style="padding-left: 20px"></div>


<script type="text/javascript">
console.log(document.getElementById("rx_address").innerHTML)
new QRCode(document.getElementById("qrcode"), document.getElementById("rx_address").innerHTML);
</script>


  </body>
</html>
