<!DOCTYPE html>
<html lang="en" id="index">
  <% include ./partials/_header %>
  <body class="index">
    <% include ./partials/_nav %>
    <div class="container">

      <div>
        <% if (user.isDoctor === true) { %>
          <a href="/prescriptions/new"> Create a new prescription </a>
        <% } %>
        <%= JSON.stringify(rxHeaders) %>
      </div>
    </div>
  </body>
</html>
