<!DOCTYPE html>
<html lang="en" id="index">
  <head>
    <title>ePrescription</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="index">
    <% include ./partials/_nav %>
    <div class="container">
      <div>
        new Prescription form
        <form action="/prescriptions/new" method="POST">
          <input type="submit"> Test submit for post to /prescriptions/new
        </form>
      </div>
    </div>
  </body>
</html>
