<!DOCTYPE html>
<html lang="en" id="index">
  <% include ./partials/_header %>
  <body class="index">
    <% include ./partials/_nav %>
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <ul class="form">
          <h3 class="form-title"> Register </h3>
          <form action="/users/new" method="POST">
            <input class="form-control" type="text" name="email" placeholder="Email" autofocus>
            <input class="form-control" type="text" name="password" placeholder="Password">
            <input class="form-control" type="text" name="passwordConfirmation" placeholder="Confirm Password">
            <input class="form-control" type="text" name="firstName" placeholder="First Name">
            <input class="form-control" type="text" name="lastName" placeholder="Last Name">
            <input class="form-control" type="text" name="address" placeholder="Address">
            <input class="form-control" type="text" name="phone" placeholder="Phone">
            <input class="form-control" type="text" name="birthdate" placeholder="Birthdate">
            <input class="form-control" type="text" name="public_key" placeholder="Address/Public Key">
            <input class="btn btn-default form-submit" type="submit">
          </form>
        </ul>
      </div>
      <div class="col-sm-4"></div>
    </div>
  </body>
</html>
