<!DOCTYPE html>
<html lang="en" id="index">
  <% include ./partials/_header %>
  <body class="index">
    <% include ./partials/_nav %>
    <div class="container">
      <div>
        <%= JSON.stringify(userDetails) %>
      </div>
    </div>
  </body>
</html>
