<!DOCTYPE html>
<html lang="en" id="index">
  <% include ./partials/_header %>
  <body class="index">
    <% include ./partials/_nav %>
    <div class="container">
     <% if (prescriptions) { %>
        <ul>
        <% prescriptions.forEach(function(rx){%>
        <li>
        <%= JSON.stringify(rx) %>
        </li>
        <%});%>
        </ul>
        <%}%>

      <div>

      </div>
    </div>
  </body>
</html>
