<!DOCTYPE html>
<html lang="en" id="index">
  <head>
    <title>ePrescription</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="index">
    <% include ./partials/_nav %>
    <div class="container">
      <div>
        main page
      </div>
    </div>
  </body>
</html>
