.form {
  list-style-type: none;
  text-align: center;
}

.form input {
  margin: 0.7em 0em;
}

.form-control:focus {
  border-color: #71eeb8;
}

.form-title {
  margin: 2em 0;
}

.form-submit {
  margin-top: 1em;
  width: 100%;
  background-color: #71eeb8;
}

@media (max-width: 600px) {
  #register-form-title {
    margin: 0em 0em 1em 0em;
  }
}
