#username-logout {
  padding-right: 1em;
}

#username-logout #username {
  padding: 0 15px;
}

#username-logout #logout {
  margin-left: 15px;
}

.nav-item:hover {
  background-color: #71eeb8;
}

.navbar-header .navbar-brand:hover {
  background-color: #71eeb8;
}

@media (max-width: 770px) {
  #username-logout #logout {
    margin: 0;
    padding: 0;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
  	top: 0;
  	border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
  	display:block !important;
  }
}
