.prescription-details {
  margin-bottom: 0.6em;
  border-bottom: 1px solid #aaa;
  padding: 0.5em 0 0.17em 0;
  color: #000;
}

#qrcode img {
  margin: 1em auto 2em;
}

#secret img {
  margin: 1em auto 2em;
}
