@import "navbar.css";
@import "login_register.css";
@import "prescriptions.css";
@import "users.css";
@import "prescription_details.css";
@import "prescription_new.css";

body {
  overflow-x: hidden;
}

.badge {
  color: black;
  background-color: #71eeb8;
}

.input-group .form-control {
  margin: 0;
}
